.clearfix {
	*zoom : 1;
}
.clearfix:after {
	content : ' ';
	display : table;
	clear : both;
}

.fl {
	float : left !important;
}

.fr {
	float : right !important;
}

.w1p {
	width : 1% !important;
}

.w2p {
	width : 2% !important;
}

.w3p {
	width : 3% !important;
}

.w4p {
	width : 4% !important;
}

.w5p {
	width : 5% !important;
}

.w6p {
	width : 6% !important;
}

.w7p {
	width : 7% !important;
}

.w8p {
	width : 8% !important;
}

.w9p {
	width : 9% !important;
}

.w10p {
	width : 10% !important;
}

.w11p {
	width : 11% !important;
}

.w12p {
	width : 12% !important;
}

.w13p {
	width : 13% !important;
}

.w14p {
	width : 14% !important;
}

.w15p {
	width : 15% !important;
}

.w16p {
	width : 16% !important;
}

.w17p {
	width : 17% !important;
}

.w18p {
	width : 18% !important;
}

.w19p {
	width : 19% !important;
}

.w20p {
	width : 20% !important;
}

.w21p {
	width : 21% !important;
}

.w22p {
	width : 22% !important;
}

.w23p {
	width : 23% !important;
}

.w24p {
	width : 24% !important;
}

.w25p {
	width : 25% !important;
}

.w26p {
	width : 26% !important;
}

.w27p {
	width : 27% !important;
}

.w28p {
	width : 28% !important;
}

.w29p {
	width : 29% !important;
}

.w30p {
	width : 30% !important;
}

.w31p {
	width : 31% !important;
}

.w32p {
	width : 32% !important;
}

.w33p {
	width : 33% !important;
}

.w34p {
	width : 34% !important;
}

.w35p {
	width : 35% !important;
}

.w36p {
	width : 36% !important;
}

.w37p {
	width : 37% !important;
}

.w38p {
	width : 38% !important;
}

.w39p {
	width : 39% !important;
}

.w40p {
	width : 40% !important;
}

.w41p {
	width : 41% !important;
}

.w42p {
	width : 42% !important;
}

.w43p {
	width : 43% !important;
}

.w44p {
	width : 44% !important;
}

.w45p {
	width : 45% !important;
}

.w46p {
	width : 46% !important;
}

.w47p {
	width : 47% !important;
}

.w48p {
	width : 48% !important;
}

.w49p {
	width : 49% !important;
}

.w50p {
	width : 50% !important;
}

.w51p {
	width : 51% !important;
}

.w52p {
	width : 52% !important;
}

.w53p {
	width : 53% !important;
}

.w54p {
	width : 54% !important;
}

.w55p {
	width : 55% !important;
}

.w56p {
	width : 56% !important;
}

.w57p {
	width : 57% !important;
}

.w58p {
	width : 58% !important;
}

.w59p {
	width : 59% !important;
}

.w60p {
	width : 60% !important;
}

.w61p {
	width : 61% !important;
}

.w62p {
	width : 62% !important;
}

.w63p {
	width : 63% !important;
}

.w64p {
	width : 64% !important;
}

.w65p {
	width : 65% !important;
}

.w66p {
	width : 66% !important;
}

.w67p {
	width : 67% !important;
}

.w68p {
	width : 68% !important;
}

.w69p {
	width : 69% !important;
}

.w70p {
	width : 70% !important;
}

.w71p {
	width : 71% !important;
}

.w72p {
	width : 72% !important;
}

.w73p {
	width : 73% !important;
}

.w74p {
	width : 74% !important;
}

.w75p {
	width : 75% !important;
}

.w76p {
	width : 76% !important;
}

.w77p {
	width : 77% !important;
}

.w78p {
	width : 78% !important;
}

.w79p {
	width : 79% !important;
}

.w80p {
	width : 80% !important;
}

.w81p {
	width : 81% !important;
}

.w82p {
	width : 82% !important;
}

.w83p {
	width : 83% !important;
}

.w84p {
	width : 84% !important;
}

.w85p {
	width : 85% !important;
}

.w86p {
	width : 86% !important;
}

.w87p {
	width : 87% !important;
}

.w88p {
	width : 88% !important;
}

.w89p {
	width : 89% !important;
}

.w90p {
	width : 90% !important;
}

.w91p {
	width : 91% !important;
}

.w92p {
	width : 92% !important;
}

.w93p {
	width : 93% !important;
}

.w94p {
	width : 94% !important;
}

.w95p {
	width : 95% !important;
}

.w96p {
	width : 96% !important;
}

.w97p {
	width : 97% !important;
}

.w98p {
	width : 98% !important;
}

.w99p {
	width : 99% !important;
}

.w100p {
	width : 100% !important;
}

.w1e {
	width : 1em !important;
}

.w2e {
	width : 2em !important;
}

.w3e {
	width : 3em !important;
}

.w4e {
	width : 4em !important;
}

.w5e {
	width : 5em !important;
}

.w6e {
	width : 6em !important;
}

.w7e {
	width : 7em !important;
}

.w8e {
	width : 8em !important;
}

.w9e {
	width : 9em !important;
}

.w10e {
	width : 10em !important;
}

.w11e {
	width : 11em !important;
}

.w12e {
	width : 12em !important;
}

.w13e {
	width : 13em !important;
}

.w14e {
	width : 14em !important;
}

.w15e {
	width : 15em !important;
}

.w16e {
	width : 16em !important;
}

.w17e {
	width : 17em !important;
}

.w18e {
	width : 18em !important;
}

.w19e {
	width : 19em !important;
}

.w20e {
	width : 20em !important;
}

.w21e {
	width : 21em !important;
}

.w22e {
	width : 22em !important;
}

.w23e {
	width : 23em !important;
}

.w24e {
	width : 24em !important;
}

.w25e {
	width : 25em !important;
}

.w26e {
	width : 26em !important;
}

.w27e {
	width : 27em !important;
}

.w28e {
	width : 28em !important;
}

.w29e {
	width : 29em !important;
}

.w30e {
	width : 30em !important;
}

.m0 {
	margin : 0 !important;
}

.m5 {
	margin : 5px !important;
}

.m10 {
	margin : 10px !important;
}

.m15 {
	margin : 15px !important;
}

.m20 {
	margin : 20px !important;
}

.m25 {
	margin : 25px !important;
}

.m30 {
	margin : 30px !important;
}

.m35 {
	margin : 35px !important;
}

.m40 {
	margin : 40px !important;
}

.m45 {
	margin : 45px !important;
}

.m50 {
	margin : 50px !important;
}

.mt0 {
	margin-top : 0 !important;
}

.mt5 {
	margin-top : 5px !important;
}

.mt10 {
	margin-top : 10px !important;
}

.mt15 {
	margin-top : 15px !important;
}

.mt20 {
	margin-top : 20px !important;
}

.mt25 {
	margin-top : 25px !important;
}

.mt30 {
	margin-top : 30px !important;
}

.mt35 {
	margin-top : 35px !important;
}

.mt40 {
	margin-top : 40px !important;
}

.mt45 {
	margin-top : 45px !important;
}

.mt50 {
	margin-top : 50px !important;
}

.mt55 {
	margin-top : 55px !important;
}

.mt60 {
	margin-top : 60px !important;
}

.mt65 {
	margin-top : 65px !important;
}

.mt70 {
	margin-top : 70px !important;
}

.mt75 {
	margin-top : 75px !important;
}

.mt80 {
	margin-top : 80px !important;
}

.mt85 {
	margin-top : 85px !important;
}

.mr0 {
	margin-right : 0 !important;
}

.mr5 {
	margin-right : 5px !important;
}

.mr10 {
	margin-right : 10px !important;
}

.mr15 {
	margin-right : 15px !important;
}

.mr20 {
	margin-right : 20px !important;
}

.mr25 {
	margin-right : 25px !important;
}

.mr30 {
	margin-right : 30px !important;
}

.mr35 {
	margin-right : 35px !important;
}

.mr40 {
	margin-right : 40px !important;
}

.mr45 {
	margin-right : 45px !important;
}

.mr50 {
	margin-right : 50px !important;
}

.mb0 {
	margin-bottom : 0 !important;
}

.mb5 {
	margin-bottom : 5px !important;
}

.mb10 {
	margin-bottom : 10px !important;
}

.mb15 {
	margin-bottom : 15px !important;
}

.mb20 {
	margin-bottom : 20px !important;
}

.mb25 {
	margin-bottom : 25px !important;
}

.mb30 {
	margin-bottom : 30px !important;
}

.mb35 {
	margin-bottom : 35px !important;
}

.mb40 {
	margin-bottom : 40px !important;
}

.mb45 {
	margin-bottom : 45px !important;
}

.mb50 {
	margin-bottom : 50px !important;
}

.ml0 {
	margin-left : 0 !important;
}

.ml5 {
	margin-left : 5px !important;
}

.ml10 {
	margin-left : 10px !important;
}

.ml15 {
	margin-left : 15px !important;
}

.ml20 {
	margin-left : 20px !important;
}

.ml25 {
	margin-left : 25px !important;
}

.ml30 {
	margin-left : 30px !important;
}

.ml35 {
	margin-left : 35px !important;
}

.ml40 {
	margin-left : 40px !important;
}

.ml45 {
	margin-left : 45px !important;
}

.ml50 {
	margin-left : 50px !important;
}

.me0 {
	margin : 0 !important;
}

.me1 {
	margin : 1em !important;
}

.me2 {
	margin : 2em !important;
}

.me3 {
	margin : 3em !important;
}

.me4 {
	margin : 4em !important;
}

.me5 {
	margin : 5em !important;
}

.me6 {
	margin : 6em !important;
}

.me7 {
	margin : 7em !important;
}

.me8 {
	margin : 8em !important;
}

.me9 {
	margin : 9em !important;
}

.me10 {
	margin : 10em !important;
}

.mte0 {
	margin-top : 0 !important;
}

.mte1 {
	margin-top : 1em !important;
}

.mte2 {
	margin-top : 2em !important;
}

.mte3 {
	margin-top : 3em !important;
}

.mte4 {
	margin-top : 4em !important;
}

.mte5 {
	margin-top : 5em !important;
}

.mte6 {
	margin-top : 6em !important;
}

.mte7 {
	margin-top : 7em !important;
}

.mte8 {
	margin-top : 8em !important;
}

.mte9 {
	margin-top : 9em !important;
}

.mte10 {
	margin-top : 10em !important;
}

.mre0 {
	margin-right : 0 !important;
}

.mre1 {
	margin-right : 1em !important;
}

.mre2 {
	margin-right : 2em !important;
}

.mre3 {
	margin-right : 3em !important;
}

.mre4 {
	margin-right : 4em !important;
}

.mre5 {
	margin-right : 5em !important;
}

.mre6 {
	margin-right : 6em !important;
}

.mre7 {
	margin-right : 7em !important;
}

.mre8 {
	margin-right : 8em !important;
}

.mre9 {
	margin-right : 9em !important;
}

.mre10 {
	margin-right : 10em !important;
}

.mbe0 {
	margin-bottom : 0 !important;
}

.mbe1 {
	margin-bottom : 1em !important;
}

.mbe2 {
	margin-bottom : 2em !important;
}

.mbe3 {
	margin-bottom : 3em !important;
}

.mbe4 {
	margin-bottom : 4em !important;
}

.mbe5 {
	margin-bottom : 5em !important;
}

.mbe6 {
	margin-bottom : 6em !important;
}

.mbe7 {
	margin-bottom : 7em !important;
}

.mbe8 {
	margin-bottom : 8em !important;
}

.mbe9 {
	margin-bottom : 9em !important;
}

.mbe10 {
	margin-bottom : 10em !important;
}

.mle0 {
	margin-left : 0 !important;
}

.mle1 {
	margin-left : 1em !important;
}

.mle2 {
	margin-left : 2em !important;
}

.mle3 {
	margin-left : 3em !important;
}

.mle4 {
	margin-left : 4em !important;
}

.mle5 {
	margin-left : 5em !important;
}

.mle6 {
	margin-left : 6em !important;
}

.mle7 {
	margin-left : 7em !important;
}

.mle8 {
	margin-left : 8em !important;
}

.mle9 {
	margin-left : 9em !important;
}

.mle10 {
	margin-left : 10em !important;
}

.mle11 {
	margin-left : 11em !important;
}

.mle12 {
	margin-left : 12em !important;
}

.mle13 {
	margin-left : 13em !important;
}

.mle14 {
	margin-left : 14em !important;
}

.mle15 {
	margin-left : 15em !important;
}

.mle16 {
	margin-left : 16em !important;
}

.mle17 {
	margin-left : 17em !important;
}

.mle18 {
	margin-left : 18em !important;
}

.mle19 {
	margin-left : 19em !important;
}

.mle20 {
	margin-left : 20em !important;
}

.nmat5 {
	margin-top : -5px !important;
}

.nmat10 {
	margin-top : -10px !important;
}

.nmat15 {
	margin-top : -15px !important;
}

.nmat20 {
	margin-top : -20px !important;
}

.nmat25 {
	margin-top : -25px !important;
}

.nmat30 {
	margin-top : -30px !important;
}

.nmat35 {
	margin-top : -35px !important;
}

.nmat40 {
	margin-top : -40px !important;
}

.nmat45 {
	margin-top : -45px !important;
}

.nmat50 {
	margin-top : -50px !important;
}

.nmar5 {
	margin-right : -5px !important;
}

.nmar10 {
	margin-right : -10px !important;
}

.nmar15 {
	margin-right : -15px !important;
}

.nmar20 {
	margin-right : -20px !important;
}

.nmar25 {
	margin-right : -25px !important;
}

.nmar30 {
	margin-right : -30px !important;
}

.nmar35 {
	margin-right : -35px !important;
}

.nmar40 {
	margin-right : -40px !important;
}

.nmar45 {
	margin-right : -45px !important;
}

.nmar50 {
	margin-right : -50px !important;
}

.nmab5 {
	margin-bottom : -5px !important;
}

.nmab10 {
	margin-bottom : -10px !important;
}

.nmab15 {
	margin-bottom : -15px !important;
}

.nmab20 {
	margin-bottom : -20px !important;
}

.nmab25 {
	margin-bottom : -25px !important;
}

.nmab30 {
	margin-bottom : -30px !important;
}

.nmab35 {
	margin-bottom : -35px !important;
}

.nmab40 {
	margin-bottom : -40px !important;
}

.nmab45 {
	margin-bottom : -45px !important;
}

.nmab50 {
	margin-bottom : -50px !important;
}

.nmal5 {
	margin-left : -5px !important;
}

.nmal10 {
	margin-left : -10px !important;
}

.nmal15 {
	margin-left : -15px !important;
}

.nmal20 {
	margin-left : -20px !important;
}

.nmal25 {
	margin-left : -25px !important;
}

.nmal30 {
	margin-left : -30px !important;
}

.nmal35 {
	margin-left : -35px !important;
}

.nmal40 {
	margin-left : -40px !important;
}

.nmal45 {
	margin-left : -45px !important;
}

.nmal50 {
	margin-left : -50px !important;
}

.p0 {
	padding : 0 !important;
}

.p5 {
	padding : 5px !important;
}

.p10 {
	padding : 10px !important;
}

.p15 {
	padding : 15px !important;
}

.p20 {
	padding : 20px !important;
}

.p25 {
	padding : 25px !important;
}

.p30 {
	padding : 30px !important;
}

.p35 {
	padding : 35px !important;
}

.p40 {
	padding : 40px !important;
}

.p45 {
	padding : 45px !important;
}

.p50 {
	padding : 50px !important;
}

.pt0 {
	padding-top : 0 !important;
}

.pt5 {
	padding-top : 5px !important;
}

.pt10 {
	padding-top : 10px !important;
}

.pt15 {
	padding-top : 15px !important;
}

.pt20 {
	padding-top : 20px !important;
}

.pt25 {
	padding-top : 25px !important;
}

.pt30 {
	padding-top : 30px !important;
}

.pt35 {
	padding-top : 35px !important;
}

.pt40 {
	padding-top : 40px !important;
}

.pt45 {
	padding-top : 45px !important;
}

.pt50 {
	padding-top : 50px !important;
}

.pr0 {
	padding-right : 0 !important;
}

.pr5 {
	padding-right : 5px !important;
}

.pr10 {
	padding-right : 10px !important;
}

.pr15 {
	padding-right : 15px !important;
}

.pr20 {
	padding-right : 20px !important;
}

.pr25 {
	padding-right : 25px !important;
}

.pr30 {
	padding-right : 30px !important;
}

.pr35 {
	padding-right : 35px !important;
}

.pr40 {
	padding-right : 40px !important;
}

.pr45 {
	padding-right : 45px !important;
}

.pr50 {
	padding-right : 50px !important;
}

.pb0 {
	padding-bottom : 0 !important;
}

.pb5 {
	padding-bottom : 5px !important;
}

.pb10 {
	padding-bottom : 10px !important;
}

.pb15 {
	padding-bottom : 15px !important;
}

.pb20 {
	padding-bottom : 20px !important;
}

.pb25 {
	padding-bottom : 25px !important;
}

.pb30 {
	padding-bottom : 30px !important;
}

.pb35 {
	padding-bottom : 35px !important;
}

.pb40 {
	padding-bottom : 40px !important;
}

.pb45 {
	padding-bottom : 45px !important;
}

.pb50 {
	padding-bottom : 50px !important;
}

.pl0 {
	padding-left : 0 !important;
}

.pl5 {
	padding-left : 5px !important;
}

.pl10 {
	padding-left : 10px !important;
}

.pl15 {
	padding-left : 15px !important;
}

.pl20 {
	padding-left : 20px !important;
}

.pl25 {
	padding-left : 25px !important;
}

.pl30 {
	padding-left : 30px !important;
}

.pl35 {
	padding-left : 35px !important;
}

.pl40 {
	padding-left : 40px !important;
}

.pl45 {
	padding-left : 45px !important;
}

.pl50 {
	padding-left : 50px !important;
}

.fzs {
	font-size : 85%;
}

.fzm {
	font-size : 114%;
}

.fzl {
	font-size : 128%;
}

.fw {
	font-weight : bold !important;
}

.fwn {
	font-weight : normal !important;
}

.cRed {
	color : #c00 !important;
}

.tal {
	text-align : left !important;
}

.tac {
	text-align : center !important;
}

.tar {
	text-align : right !important;
}

.mats {
	margin-top : 20px;
}

.matm {
	margin-top : 40px;
}

.matl {
	margin-top : 60px;
}
