@charset "UTF-8";

@import "core";

// clearfix
.clearfix {
    @include clearfix;
}


// float
.fl	{ float: left !important; }
.fr	{ float: right !important; }


// width
@for $i from 1 through 100 {
    .w#{$i}p { width: 1% * $i !important; }
}

@for $i from 1 through 30 {
    .w#{$i}e { width: 1em * $i !important; }
}


// margin
@for $i from 0 through 10 {
    .m#{$i*5} { margin: 5px * $i !important; }
}
@for $i from 0 through 17 {
    .mt#{$i*5} { margin-top: 5px * $i !important; }
}
@for $i from 0 through 10 {
    .mr#{$i*5} { margin-right: 5px * $i !important; }
}
@for $i from 0 through 10 {
    .mb#{$i*5} { margin-bottom: 5px * $i !important; }
}
@for $i from 0 through 10 {
	.ml#{$i*5} { margin-left: 5px * $i !important; }
}

@for $i from 0 through 10 {
	.me#{$i} { margin: 1em * $i !important; }
}
@for $i from 0 through 10 {
	.mte#{$i} { margin-top: 1em * $i !important; }
}
@for $i from 0 through 10 {
	.mre#{$i} { margin-right: 1em * $i !important; }
}
@for $i from 0 through 10 {
	.mbe#{$i} { margin-bottom: 1em * $i !important; }
}
@for $i from 0 through 20 {
	.mle#{$i} { margin-left: 1em * $i !important; }
}

@for $i from 1 through 10 {
	.nmat#{$i*5} { margin-top: -5px * $i !important; }
}
@for $i from 1 through 10 {
	.nmar#{$i*5} { margin-right: -5px * $i !important; }
}
@for $i from 1 through 10 {
	.nmab#{$i*5} { margin-bottom: -5px * $i !important; }
}
@for $i from 1 through 10 {
	.nmal#{$i*5} { margin-left: -5px * $i !important; }
}


// padding
@for $i from 0 through 10 {
	.p#{$i*5} { padding: 5px * $i !important; }
}
@for $i from 0 through 10 {
	.pt#{$i*5} { padding-top: 5px * $i !important; }
}
@for $i from 0 through 10 {
	.pr#{$i*5} { padding-right: 5px * $i !important; }
}
@for $i from 0 through 10 {
	.pb#{$i*5} { padding-bottom: 5px * $i !important; }
}
@for $i from 0 through 10 {
	.pl#{$i*5} { padding-left: 5px * $i !important; }
}

// font size
.fzs { font-size: fz(14,12); }
.fzm { font-size: fz(14,16); }
.fzl { font-size: fz(14,18); }

// font weight
.fw	{ font-weight: bold !important; }
.fwn { font-weight: normal !important; }

// font color
.cRed { color: #c00 !important; }

// text-align
.tal { text-align: left !important; }
.tac { text-align: center !important; }
.tar { text-align: right !important; }

// media query flex margin
.mats {
	margin-top: 20px;
}
.matm {
	margin-top: 40px;
}
.matl {
	margin-top: 60px;
}
